{% extends 'dashboardU.html' %}

{% block body%}

<div class="flex justify-center px-16">
  <div class="container">
    <div class="mb-4">
      <a href="https://citamedicadigital.imss.gob.mx/CMW/cmw?v=login"
         class="inline-block rounded bg-indigo-600 px-5 py-3 text-xl font-medium text-white hover:bg-indigo-700 mb-3">
        Agendar Citas
      </a>
    </div>

    <div class="overflow-x-auto">
      <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
        <thead class="text-center">
          <tr>
            <th class="px-4 py-2 font-medium text-gray-900">
              Folio
            </th>
            <th class="px-4 py-2 font-medium text-gray-900">
              Doctor
            </th>
            <th class="px-4 py-2 font-medium text-gray-900">
              ID Consultorio
            </th>
            <th class="px-4 py-2 font-medium text-gray-900">
              Fecha
            </th>
            <th class="px-4 py-2 font-medium text-gray-900">
              Hora
            </th>
            <th class="px-4 py-2"></th>
          </tr>
        </thead>

        <tbody class="text-center divide-y divide-gray-200">
          {% for cita in listCitas %}
            <tr>
              <td class="px-4 py-2 font-medium text-gray-900">
                {{ cita[0] }} <!-- Folio -->
              </td>
                <td class="px-4 py-2 text-gray-700">{{ cita[1] }} {{ cita[2] }} {{ cita[3] }}</td> <!-- Doctor -->
                <td class="px-4 py-2 text-gray-700">{{ cita[4] }}</td> <!-- ID Consultorio -->
                <td class="px-4 py-2 text-gray-700">{{ cita[5] }}</td> <!-- Fecha -->
                <td class="px-4 py-2 text-gray-700">{{ cita[6] }}</td> <!-- Hora -->
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
        <!-- Div para historial de citas -->
        <div>
          <h2 class="text-xl font-semibold mb-2">Historial de Citas</h2>
          <button
            id="toggleHistorial"
            class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700"
          >
            Mostrar Historial
          </button>
        <div id="historialTable" class="hidden">
            

          <div class="overflow-x-auto">
            <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
              <thead class="text-center">
                <tr>
                  <th class="px-4 py-2 font-medium text-gray-900">
                    Folio
                  </th>
                  <th class="px-4 py-2 font-medium text-gray-900">
                    Doctor
                  </th>
                  <th class="px-4 py-2 font-medium text-gray-900">
                    ID Consultorio
                  </th>
                  <th class="px-4 py-2 font-medium text-gray-900">
                    Fecha
                  </th>
                  <th class="px-4 py-2 font-medium text-gray-900">
                    Hora
                  </th>
                  <th class="px-4 py-2"></th>
                </tr>
              </thead>
      
              <tbody class="text-center divide-y divide-gray-200">
                {% for cita in listCitas0 %}
                  <tr>
                    <td class="px-4 py-2 font-medium text-gray-900">
                      {{ cita[0] }} <!-- Folio -->
                    </td>
                    <td class="px-4 py-2 text-gray-700">{{ cita[1] }} {{ cita[2] }} {{ cita[3] }}</td> <!-- Doctor -->
                    <td class="px-4 py-2 text-gray-700">{{ cita[4] }}</td> <!-- ID Consultorio -->
                    <td class="px-4 py-2 text-gray-700">{{ cita[5] }}</td> <!-- Fecha -->
                    <td class="px-4 py-2 text-gray-700">{{ cita[6] }}</td> <!-- Hora -->
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
    
    <script>
      // Script para ocultar/mostrar el historial al hacer clic en el botón
      const toggleButton = document.getElementById("toggleHistorial");
      const historialTable = document.getElementById("historialTable");
    
      toggleButton.addEventListener("click", () => {
        historialTable.classList.toggle("hidden");
        if (historialTable.classList.contains("hidden")) {
          toggleButton.textContent = "Mostrar Historial";
        } else {
          toggleButton.textContent = "Ocultar Historial";
        }
      });
    </script>
  </div>

{% endblock %}