{% extends 'dashboardU.html' %}

{% block body%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="px-56">
    <div class="border-solid border-4 shadow rounded-lg p-5">
        <h1 class="font-sans font-extrabold text-xl">Detalles sobre tu consulta</h1>
        <br>
        <h2 class="font-bold ml-10">Informacion sobre el paciente</h2>

        <p class="ml-14">Nombre: </p>
        <p class="ml-14">Apellido Paterno: </p>
        <p class="ml-14">Apellido Materno: </p>
        <p class="ml-14">NSS: </p>
        <p class="ml-14">Edad: </p>
        <p class="ml-14">Altura: </p>
        <p class="ml-14">Peso: </p>

        <br>

        <h2 class="ml-10 font-bold">Sintomas:</h2>

        <p></p>
        <br>
        <h2 class="ml-10 font-bold">Diagnostico:</h2>

        <p></p>
        <br>
        <h2 class="ml-10 font-bold">Tratamiento:</h2>
        <br>
        <p></p>

        <br>
        <h2>Medico que verifico y valido el diagnostico y tratamiento:</h2>
        <h1></h1>

        <p></p>
        <br>
        {% if lsConsulta %}
            <a href="/reimprimir/{{ lsConsulta[0][0] }}" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">imprimir</a>
        {% endif %}



    </div>
</div>
</body>
</html>

{% endblock %}