{% if current_user.rol == 1 %}
    {% set variable = 'dashboardA.html' %}
{% elif current_user.rol == 2 %}
    {% set variable = 'dashboardM.html' %}
{% elif current_user.rol == 3 %}
    {% set variable = 'dashboardU.html' %}
{% endif %}

{% extends variable %}

{% block body%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="px-56">
    <div class="border-solid border-4 shadow rounded-lg p-5">
        <h1 class="font-sans font-extrabold text-xl">Detalles sobre tu consulta</h1>
        <br>
        <h2 class="font-bold ml-10">Informacion sobre el paciente</h2>
    <form action=""></form>
        <table class="default" >
        
            <tr>
              <td>Nombre</td>
              <td>{{lsConsulta.0.1}} {{lsConsulta.0.2}} {{lsConsulta.0.3}}</td>
            </tr>
              <tr>
                <td>NSS</td>
                <td>{{lsConsulta.0.4}}</td>
              </tr>
              <tr>
                <td>Edad</td>
                <td>{{lsConsulta.0.5}}</td>
              </tr>
              <tr>
                <td>Altura</td>
                <td>{{lsConsulta.0.6}}</td>
              </tr>
              <tr>
                <td>Peso</td>
                <td>{{lsConsulta.0.7}}</td>
              </tr>
              <tr>
                <td>Sintomas</td>
                <td>{{lsConsulta.0.8}}</td>
              </tr>
              <tr>
                <td>Diagnostico</td>
                <td>{{lsConsulta.0.9}}</td>
              </tr>
              <tr>
                <td>Medico verifica</td>
                <td></td>
              </tr>
              
          </table>
        </form>
<!-- 
        <p class="ml-14">Nombre: </p> 
        <p class="ml-14">Apellido Paterno: </p>
        <p class="ml-14">Apellido Materno: </p>
        <p class="ml-14">NSS: </p>
        <p class="ml-14">Edad: </p>
        <p class="ml-14">Altura: </p>
        <p class="ml-14">Peso: </p>
 -->
<!--         <br>

        <h2 class="ml-10 font-bold">Sintomas:</h2>

        <p></p>
        <br>
        <h2 class="ml-10 font-bold">Diagnostico:</h2>

        <p></p>
        <br>
        <h2 class="ml-10 font-bold">Tratamiento:</h2>
        <br>
        <p></p>

        <br>
        <h2>Medico que verifico y valido el diagnostico y tratamiento:</h2>
        <h1></h1>

        <p></p>
        <br> -->
  
            <a href="/reimprimir/{{ lsConsulta.0.0}}" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">imprimir</a>
            <a href="/infconsultaEditar/{{ lsConsulta.0.0}}" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">editar</a>
            <a href="#" class="inline-block rounded bg-indigo-600 px-4 py-2 text-xs font-medium text-white hover:bg-indigo-700">confirmar</a>




    </div>
</div>
</body>
</html>

{% endblock %}