{% extends 'dashboardM.html' %}

{% block body%}
<header id="header" class="header w-100">
    <div class="header__top w-100">
        <img src="https://www.imss.gob.mx/sites/all/statics/styles/flexslider_full/public/i2f_news/IMG_6850.jpg?itok=BIQa1uhh"
            alt="xand-hero-background" id="header-img">
        <span class="header__top-text text-center">
            MedQ Asistente Virtual
            La manera más eficiente de cuidar tu salud
            Bienvenido DOCTOR
        </span>
    </div>
</header>

  
{% endblock %}