{% extends 'dashboardU.html' %}

{% block body%}

<div class="flex justify-center px-16">
    <div class="container">
        <div class="overflow-x-auto">
            <div class="row">
                <div class="col-md-6">

                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Ingrese sus síntomas" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Síntomas</label>
                    </div>
                    <div class="mb-3">

                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %}