<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receta</title>
</head>
<body>
    Fecha de consulta: {{pacientes.0.8}} a las {{pacientes.0.9}}<br>
    Nombre del paciente: {{pacientes.0.0}} {{pacientes.0.1}} {{pacientes.0.2}}<br>
    Lugar afectado: {{pacientes.0.3}}<br>
    Síntomas: {{pacientes.0.4}}<br>
    Tipo de dolor: {{pacientes.0.5}}<br><br>

    Alergias: {{pacientes.0.6}}<br>
    Antecedentes médicos: {{pacientes.0.7}}<br>
    <br>
    <br>
    <br>
    Diagnóstico MedQ:<br>
    {{respuesta}}


    
</body>
</html>