{% extends 'dashboardU.html' %}

{% block body%}

    <!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<div class="min-h-full">


<div class="overflow-x-auto">

  
  <div class="row text-center">
      <div class="col-md-12">
          <div class="mb-2 mt-2">
              <h1 class="page-header">
                  MedQ Asistente Virtual
              </h1>
          </div>
          <div class="mb-2 mt-2">
              <h3 class="page-header">
                  Bienvenido Usuario
              </h3>
              <p>La manera más eficiente de cuidar tu salud</p>
              <p>Cómo funciona</p>
          </div>
      </div>
  </div>
  
  </div>
      </div>

  
{% endblock %}